<main-head></main-head>
<section class="signin-section"  >
  <div class="studentGetSection">
    <h1>Sign In</h1>
    <div class="signinBox">
    <input class="" placeholder="email..." type="test" ng-model="userAccount.email"><br>
    <input class="" placeholder="password..." type="password" ng-model="userAccount.password">
      <button class="signinButton" ng-click="getUser(userAccount)">Sign in</button>
    </div>
    <h3 id="wrong-pass" style="display: none; color: red; margin: 10px">Wrong Password or Username</h3>
  </div>
</section>
